<table class="jobs">
    {% for job in category.activejobs %}
      <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
        <td class="location">{{ job.location }}</td>
        <td class="position">
          <a href="{{ path('job_show', { 'id': job.id, 'company': job.companySlug, 'location': job.locationSlug, 'position': job.positionSlug }) }}">
            {{ job.position }}
          </a>
        </td>
        <td class="company">{{ job.company }}</td>
      </tr>
    {% endfor %}
</table>
