<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Jobeet ({{ category.name }})</title>
  <subtitle>Latest Jobs</subtitle>
  <link href="{{ url('category_show', { 'slug': category.slug, '_format': 'atom' }) }}" rel="self" />
  <link href="{{ url('category_show', { 'slug': category.slug }) }}" />
  <updated>{{ category.activejobs[0].createdAt.format(constant('DATE_ATOM')) }}</updated>
  <author><name>Jobeet</name></author>
  <id>{{ feedId }}</id>
 
  {% for job in category.activejobs %}
    <entry>
      <title>{{ job.position }} ({{ job.location }})</title>
      <link href="{{ url('job_show', { 'id': job.id, 'company': job.companySlug, 'location': job.locationSlug, 'position': job.positionSlug }) }}" />
      <id>{{ job.id }}</id>
      <updated>{{ job.createdAt.format(constant('DATE_ATOM')) }}</updated>
      <summary type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
          {% if job.logo %}
            <div>
              <a href="{{ job.url }}">
                <img src="http://{{ app.request.host }}/uploads/jobs/{{ job.logo }}" alt="{{ job.company }} logo" />
              </a>
            </div>
          {% endif %}
          <div>
            {{ job.description|nl2br }}
          </div>
          <h4>How to apply?</h4>
          <p>{{ job.howToApply }}</p>
        </div>
      </summary>
      <author><name>{{ job.company }}</name></author>
    </entry>
  {% endfor %}
</feed>